<%- include("partial/navbar.ejs") %>

<div>
    <h1>Contact Us</h1>
        
        <div class="contact-info">
            <p><strong>Address:</strong> 123 Main Street, City, Country</p>
            <p><strong>Email:</strong> <a href="mailto:info@example.com">info@example.com</a></p>
            <p><strong>Phone:</strong> <a href="tel:+1234567890">+123 456 7890</a></p>
        </div>

</div>


<%- include("partial/footer.ejs") %>