<%- include("partial/navbar.ejs") %>

<div class="signup">
    <h2>Sign Up!</h2>
    <form action="/createuser" method="POST">
        <input class="input" name="fname" type="text" placeholder="Name">
        <input class="input" name="lname" type="text" placeholder="Last Name">
        <input class="input" name="email" type="text" placeholder="E-mail">
        <input class="input" name="fpassword" type="text" name="" id="" placeholder="Password">
        <input class="input" name="cpassword" type="text" name="" id="" placeholder="Confirm Password">
        <button type="submit">Sign me up.</button>
    </form>
    <p><a href="/">Have an account! Sign me in!</a></p>
</div>

<%- include("partial/footer.ejs") %>
