</main>

<footer>
    <!-- <p>Copyright © <%=new Date().getFullYear() %></p> -->
    <p>&copy; <%=new Date().getFullYear() %> Accurate Computer Services. All rights reserved. | Designed by Accurate Computer Services</a></p>
       
</footer>
</body>
</html>