
<%- include("header.ejs") %>

<div class="navbar-container">

    <ul class="logo">
        <li>Blog by Accurate Computer Services</li>
    </ul>
    <ul class="home">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact Us.</a></li>

    </ul>
</div>



<main>